body {
  background-color: #eee;
}
section {
  display: flex;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

article {
  background-color: #fff;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.02);
  width: fit-content;
  max-width: 200px;
  padding: 10px;
  border-radius: 5px;
}

article img {
  width: 100%;
  /* max-height: 250px; */
}

article h2 {
  max-width: 100%;
}
